Node-RED/smartmeter.json
[{"id":"826e1de2.6f02b","type":"tab","label":"Smart Energy Meter","disabled":false,"info":""},{"id":"5b0261b9.fc7d9","type":"inject","z":"826e1de2.6f02b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":80,"wires":[["9958e651.531c08"]]},{"id":"9958e651.531c08","type":"function","z":"826e1de2.6f02b","name":"","func":"var count = ((context.get(\"counter\") || 0) + 1) % 20\nmsg.payload = count <= 10 ? count  :  20 - count\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":260,"wires":[["c07b7366.5e17b","89f1ac8a.41156","9ebab392.1a5f6","47468058.1dbe6","5035045b.4aa0fc","14049f13.9d56e1","d2083660.25fce8","b96bc36.09cfa4","84d6c0e1.89946","12852ff9.65c1b","4efa061.3b699f8","89024a89.1307a8"]]},{"id":"c07b7366.5e17b","type":"debug","z":"826e1de2.6f02b","name":"current","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":100,"wires":[]},{"id":"89f1ac8a.41156","type":"firebase modify","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"Current","method":"set","value":"msg.payload","priority":"msg.priority","x":800,"y":200,"wires":[[]]},{"id":"1ffe801c.2f2eb","type":"firebase.on","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"Current","atStart":true,"eventType":"value","queries":[],"x":810,"y":160,"wires":[["8ea7e0f6.b4c5a"]]},{"id":"8ea7e0f6.b4c5a","type":"influxdb out","z":"826e1de2.6f02b","influxdb":"581593d7.5bf58c","name":"","measurement":"Current","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":100,"wires":[]},{"id":"9ebab392.1a5f6","type":"debug","z":"826e1de2.6f02b","name":"voltage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":280,"wires":[]},{"id":"47468058.1dbe6","type":"firebase modify","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"Voltage","method":"set","value":"msg.payload","priority":"msg.priority","x":800,"y":380,"wires":[[]]},{"id":"d0120a14.0c9868","type":"firebase.on","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"Voltage","atStart":true,"eventType":"value","queries":[],"x":810,"y":340,"wires":[["26a42164.bb1d4e"]]},{"id":"26a42164.bb1d4e","type":"influxdb out","z":"826e1de2.6f02b","influxdb":"581593d7.5bf58c","name":"","measurement":"Voltage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":280,"wires":[]},{"id":"5035045b.4aa0fc","type":"debug","z":"826e1de2.6f02b","name":"energy","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":460,"wires":[]},{"id":"14049f13.9d56e1","type":"firebase modify","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"Energy","method":"set","value":"msg.payload","priority":"msg.priority","x":800,"y":560,"wires":[[]]},{"id":"c3c9b910.2c36f8","type":"firebase.on","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"Energy","atStart":true,"eventType":"value","queries":[],"x":810,"y":520,"wires":[["edf25b3.15f1ca8"]]},{"id":"edf25b3.15f1ca8","type":"influxdb out","z":"826e1de2.6f02b","influxdb":"581593d7.5bf58c","name":"","measurement":"Energy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":460,"wires":[]},{"id":"d2083660.25fce8","type":"debug","z":"826e1de2.6f02b","name":"frequency","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":640,"wires":[]},{"id":"b96bc36.09cfa4","type":"firebase modify","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"Frequency","method":"set","value":"msg.payload","priority":"msg.priority","x":810,"y":740,"wires":[[]]},{"id":"7750e95e.24cf08","type":"firebase.on","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"Frequency","atStart":true,"eventType":"value","queries":[],"x":820,"y":700,"wires":[["c95e0f6b.676ae"]]},{"id":"c95e0f6b.676ae","type":"influxdb out","z":"826e1de2.6f02b","influxdb":"581593d7.5bf58c","name":"","measurement":"Frequency","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":640,"wires":[]},{"id":"84d6c0e1.89946","type":"debug","z":"826e1de2.6f02b","name":"power","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":820,"wires":[]},{"id":"12852ff9.65c1b","type":"firebase modify","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"Power","method":"set","value":"msg.payload","priority":"msg.priority","x":790,"y":920,"wires":[[]]},{"id":"81871a30.27f518","type":"firebase.on","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"Power","atStart":true,"eventType":"value","queries":[],"x":800,"y":880,"wires":[["6ec95ffc.277db"]]},{"id":"6ec95ffc.277db","type":"influxdb out","z":"826e1de2.6f02b","influxdb":"581593d7.5bf58c","name":"","measurement":"Power","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":820,"wires":[]},{"id":"4efa061.3b699f8","type":"debug","z":"826e1de2.6f02b","name":"powerfactor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1000,"wires":[]},{"id":"89024a89.1307a8","type":"firebase modify","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"PowerFactor","method":"set","value":"msg.payload","priority":"msg.priority","x":810,"y":1100,"wires":[[]]},{"id":"9d2f8221.e72cb","type":"firebase.on","z":"826e1de2.6f02b","name":"","firebaseconfig":"","childpath":"PowerFactor","atStart":true,"eventType":"value","queries":[],"x":820,"y":1060,"wires":[["1f327e17.204692"]]},{"id":"1f327e17.204692","type":"influxdb out","z":"826e1de2.6f02b","influxdb":"581593d7.5bf58c","name":"","measurement":"PowerFactor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":1000,"wires":[]},{"id":"581593d7.5bf58c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"smart-energy-meter","name":"smart-energy-meter","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]